@model PortalWWW.Models.PageHeroViewModel

@{
    ViewData["Title"] = Model.Header;
}

<div class="parallax-container hero">
    <div class="parallax">
        <img src="@Url.Content(Model.HeroImagePath ?? "~/img/default-hero.jpg")"
             alt="@Model.HeroImageAlt" />
    </div>
</div>

<div class="container center-align" style="margin-top: 80px;">
    <h1 class="amber-text text-darken-2">
        @Model.Header
    </h1>

    <h5 class="blue-grey-text text-darken-3" style="margin-bottom: 40px;">
        Your order has been successfully placed.
    </h5>

    <a asp-controller="Home"
       asp-action="Index"
       class="btn-large blue-grey darken-3">
        Navigate to Home Page
    </a>
</div>
