@{
    ViewData["Title"] = "KONTAKT";
}

<div class="parallax-container hero">

    <div class="parallax">
        <img src="~/img/kontakt3.jpg" />
    </div>
</div>


<h1 class="center blue-grey-text text-darken-4">@ViewData["Title"]</h1>
<div class="container">
    <div class="row">
        <section id="info">
            <div class="col s12 l6">
                <h3>Siedziba Główna</h3>
               
                    <div>
                        <h5>
                             ul. Miła 135
                              <br />
                            32-500 Chrzanów
                            <br />

                            tel. 32-621-21-995
                            <br />

                            e-mail: cukiernia@makeawish.pl
                        <br />
                        </h5>
                    </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2557.6833974560477!2d19.3794283768143!3d50.12964611041017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716ebfdccbf4e55%3A0x8ad4f7a57399a926!2zTWnFgmEgMTM1LCAzMi01MDAgQ2hyemFuw7N3!5e0!3m2!1spl!2spl!4v1741272253905!5m2!1spl!2spl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col s12 l6 ">
                <h3>Formularz Kontaktowy</h3>
                <h5>
                    Imię i nazwisko
                    <br />
                    Adres e-mail
                    <br />
                    Numer telefonu
                    <br />
                    Temat
                    <br />
                    Treść wiadomości
                    <br />
                    
            </div>
   </section>
   </div>
 
    <hr />
    @* <div class="row">
        <div class="col-md-4">
             <form asp-action="Order">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <label asp-for="Annotation" class="control-label"></label>
                    <input asp-for="Annotation" class="form-control" />
                    <span asp-validation-for="Annotation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Street" class="control-label"></label>
                    <input asp-for="Street" class="form-control" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="IdCity" class="control-label"></label>
                    <select asp-for="IdCity" style="display:inline-flex" class="form-control" asp-items="ViewBag.IdCity"></select>
                </div>
                <div class="form-group">
                    <label asp-for="IdPostalCode" class="control-label"></label>
                    <select asp-for="IdPostalCode" style="display:inline-flex" class="form-control" asp-items="ViewBag.IdPostalCode"></select>
                </div>
                
                <div class="form-group">
                    <input type="submit" value="Zamów" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn btn-primary btn-xl" asp-action="Index">Wróć do koszyka</a>
                </div>*@
</div>