@model PortalWWW.Models.PageContentViewModel


@{
    ViewData["Title"] = "Home";
}
<div class="parallax-container hero">
    <div class="parallax">
        <img src="/img/296114_2.jpg" />
    </div>
</div>

<div class="center blue-grey-text text-darken-4">
<h1 class="display-4">@Model.Header</h1>

@if (Model.Sections.Any())
{
    <h6>@Model.Sections.First().Content</h6>
}
</div>
