@{
    ViewData["Title"] = "NASZE SKLEPY";
}
<div class="parallax-container hero">

    <div class="parallax">
        <img src="~/img/shop.jpg" />
    </div>
</div>

<h1 class="center blue-grey-text text-darken-4">@ViewData["Title"]</h1>

<div class="container center center-align">
    <div class="row">
        <div class="col m12 l6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Chrzanów, ul. Miła 135</span>
                    <p>
                        Godziny otwarcia:
                    </p>
                    <p>
                        pon.- pt. 5:30-18:00
                    </p>
                    <p>
                        sob. 5:30-15:00
                    </p>
                    <p>
                        tel. 32-621-21-995
                    </p>
                </div>
                <div class="card-action">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2557.6833974560477!2d19.3794283768143!3d50.12964611041017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716ebfdccbf4e55%3A0x8ad4f7a57399a926!2zTWnFgmEgMTM1LCAzMi01MDAgQ2hyemFuw7N3!5e0!3m2!1spl!2spl!4v1741272253905!5m2!1spl!2spl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <div class="col m12 l6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Libiąż, ul. Wspólna 91</span>
                    <p>
                        Godziny otwarcia:
                    </p>
                    <p>
                        pon.- pt. 6:00-18:00
                    </p>
                    <p>
                        sob. 6:30-14:00
                    </p>
                    <p>
                        tel. 32-622-27-963
                    </p>
                </div>
                <div class="card-action">                    
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2558.9536024602744!2d19.315481376813263!3d50.10587541211377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716ebabf7246fd7%3A0x50edf0b173f2c0c6!2zV3Nww7NsbmEgOTEsIDMyLTU5MCBMaWJpxIXFvA!5e0!3m2!1spl!2spl!4v1741273233223!5m2!1spl!2spl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m12 l6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Balin, ul. Wodna 59</span>
                    <p>
                        Godziny otwarcia:
                    </p>
                    <p>
                        pon.- pt. 6:30-16:00
                    </p>
                    <p>
                        sob. 6:30-13:00
                    </p>
                    <p>
                        tel. 32-677-23-235
                    </p>
                </div>
                <div class="card-action">                   
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2555.8802597151102!2d19.400755276815946!3d50.16337600799192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716e9258f54cb21%3A0xc6f591258da4bdc0!2sWodna%2059%2C%2032-500%20Balin!5e0!3m2!1spl!2spl!4v1741274097902!5m2!1spl!2spl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <div class="col m12 l6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Piła Kościelecka, ul. Słoneczna 100</span>
                    <p>
                        Godziny otwarcia:
                    </p>
                    <p>
                        pon.- pt. 7:00-17:00
                    </p>
                    <p>
                        sob. 7:30-13:00
                    </p>
                    <p>
                        tel. 32-633-81-365
                    </p>
                </div>
                <div class="card-action">                    
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2557.8904842312113!2d19.447641292195087!3d50.125771237293534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716ee80b27ac041%3A0xc61616316d968c8c!2sS%C5%82oneczna%20100%2C%2032-540!5e0!3m2!1spl!2spl!4v1741274542425!5m2!1spl!2spl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
