@{
    ViewData["Title"] = "O NAS";
}
<div class="parallax-container hero">

    <div class="parallax">
        <img src="~/img/joboffers2.jpg" />
    </div>
</div>



<h1 class="center blue-grey-text text-darken-4">@ViewData["Title"]</h1>    
    <section class="container section">
        <div class="row amber lighten-3">
            <div class="col s12 l5">
			<img src="~/img/stefan.jpg" alt="Stefan" class="responsive-img" />
            </div>
            <div class="col s12 l6 offset-l1">
                <h4 class="blue-grey-text text-darken-4">Pasję do pieczenia przekazał nam ojciec</h4>
            <p style="text-align:justify">
                Habitant morbi tristique senectus et netus. Nunc faucibus a pellentesque sit amet porttitor eget.
                Rutrum tellus pellentesque eu tincidunt tortor aliquam. Phasellus vestibulum lorem sed risus
                ultricies tristique nulla. Malesuada proin libero nunc consequat interdum. Urna molestie at elementum eu.
                Nunc sed blandit libero volutpat sed cras ornare. Semper risus in hendrerit gravida rutrum quisque non.
                Luctus venenatis lectus magna fringilla urna porttitor rhoncus. Sed viverra tellus in hac habitasse platea
                dictumst vestibulum rhoncus. Habitant morbi tristique senectus et netus et. Luctus venenatis lectus magna
                fringilla urna porttitor rhoncus dolor.
            </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l6">
                <h4 class="blue-grey-text text-darken-4">Cukiernia braci</h4>
            <p style ="text-align:justify">
                Ipsum consequat nisl vel pretium lectus. Lacus sed viverra tellus in. Sed faucibus turpis in eu mi bibendum
                neque egestas congue. Orci porta non pulvinar neque laoreet suspendisse interdum consectetur. Purus
                faucibus ornare suspendisse sed. Justo nec ultrices dui sapien eget mi proin sed libero. Parturient
                montes nascetur ridiculus mus mauris. Egestas tellus rutrum tellus pellentesque eu tincidunt tortor.
                Tortor vitae purus faucibus ornare suspendisse sed nisi lacus sed. Duis tristique sollicitudin nibh sit.
                A iaculis at erat pellentesque. Ultrices eros in cursus turpis massa tincidunt dui ut. Nulla posuere
                sollicitudin aliquam ultrices sagittis orci a scelerisque. Tellus elementum sagittis vitae et leo duis.
                Elit at imperdiet dui accumsan sit amet nulla facilisi. Tristique senectus et netus et malesuada fames.
                </p>
            </div>
    
            <div class="col s12 l5 offset-l1">
			<img src="~/img/darek_i_oskar.jpg" alt="Darek i Oskar" class="responsive-img" />
            </div>
    </div>
        <div class="row amber lighten-3">
            <div class="col s12 l5">
				<img  src="~/img/klienci.jpg" alt="W naszej cukierni" class="responsive-img" />
            </div>
            <div class="col s12 l6 offset-l1">
                <h4 class="blue-grey-text text-darken-4">Nasza pasja =  Wasza radość</h4>
                <p style="text-align:justify">
                    Habitant morbi tristique senectus et netus. Nunc faucibus a pellentesque sit amet porttitor eget.
                    Rutrum tellus pellentesque eu tincidunt tortor aliquam. Phasellus vestibulum lorem sed risus
                    ultricies tristique nulla. Malesuada proin libero nunc consequat interdum. Urna molestie at elementum eu.
                    Nunc sed blandit libero volutpat sed cras ornare. Semper risus in hendrerit gravida rutrum quisque non.
                    Luctus venenatis lectus magna fringilla urna porttitor rhoncus. Sed viverra tellus in hac habitasse platea
                    dictumst vestibulum rhoncus. Habitant morbi tristique senectus et netus et. Luctus venenatis lectus magna
                    fringilla urna porttitor rhoncus dolor.
                </p>
            </div>
        </div>
        
    </section>
   
